<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  {% include '_header.html' %}
  <h1>Register New User</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes style="color: red; list-style-type: none; padding: 0;">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br>
        <p>Role</p>
        <input type="radio" name="role" id="viewer" value="viewer" required>
        <label for="viewer">Viewer</label><br>
        <input type="radio" name="role" id="admin" value="admin" required>
        <label for="admin">Admin</label>
        <br>
        <input type="submit" value="Register">
    </form>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
  </ul>
</body>
</html>